@keyframes enlarge1 {
    from {
        height: 6vh;
        width: 16vh;
        border-radius: 3vh;
        top: 2vh;
        right: 2vh;
        font-size: 2vh;
    }
    to{
        height: 8vh;
        width: 20vh;
        border-radius: 4vh;
        top: 1vh;
        right: 1vh;
        font-size: 3vh;
    }
}

@keyframes enlarge2 {
    from {
        height: 6vh;
        width: 16vh;
        border-radius: 3vh;
        font-size: 2vh;
    }
    to{
        height: 8vh;
        width: 20vh;
        border-radius: 4vh;
        font-size: 3vh;
    }
}

#Heading{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 10vh;
    font-size: 8vh;
    background-color: black;
    color: chartreuse;
    border-bottom: white solid;
}

#Download{
    height: 6vh;
    width: 16vh;
    border-radius: 3vh;
    background-color: #5865F2;
    border: none;
    color: white;
    font-size: 2vh;
    position: fixed;
    top: 2vh;
    right: 2vh;
}

#Download:hover{
    animation: enlarge1 500ms;
    height: 8vh;
    width: 20vh;
    font-size: 3vh;
    border-radius: 4vh;
    top: 1vh;
    right: 1vh;
    border: white solid;
}

#Coverup1{
    height: 10vh;
}

#Page{
    margin-top: 10vh;
}

#Section{
    height: 90vh;
    width: 100vh;
    font-size: 15vh;
}

.SectionDivider{
    border-bottom: white dashed;
}

#Section2, #Section3, #Section4{
    height: 100vh;
    width: 100%;
    font-size: 8vh;

}

#Section5{
    height: 10vh;
    width: 100%;
    font-size: 8vh;
    padding-top: 3vh;
}

#Download2{
    height: 6vh;
    width: 16vh;
    border-radius: 3vh;
    background-color: #5865F2;
    border: none;
    color: white;
    font-size: 2vh;
}

#Download2:hover{
    animation: enlarge2 500ms;
    height: 8vh;
    width: 20vh;
    font-size: 3vh;
    border-radius: 4vh;
    border: white solid;
}

#Coverup2{
    height: 10vh;
}

#ThemePromo{
    width: 80vw;
    height: 75vh;
    background-color: black;
    border-radius: 5vh;
    border: white solid;
    margin-top: 2vh;
}

#CaptchaPromo{
    height: 75vh;
    width: 55vw;
    background-color: black;
    border-radius: 5vh;
    border: white solid;
    margin-top: 5vh;
}

#PrivacyPromo{
    height: 75vh;
    width: 65vw;
    background-color: black;
    border-radius: 5vh;
    border: white solid;
    margin-top: 2vh;
}

#FactText{
    font-size: 4vh;
    color: chartreuse;
}

#Fact{
    font-size: 3vh;
}

::selection{
    background-color: aqua;
}

::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-track{
    background-color: black;
    border: none;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #50007F;
}

footer{
    bottom: 2vh;
}

footer button{
    height: 6vh;
    width: 16vh;
    border-radius: 3vh;
    border-color: white;
    border-style: solid;
    font-size: 3vh;
    background-color: black;
    color: white;
}

footer button:hover{
    border: aqua dashed;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

html{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}